body {
    background-color: rgb(243, 243, 243);
}

.steampunk {
    width: 400px;
    position: absolute;
    top: 42.3%;
    right: 0.3%;
    z-index: 2;
}

h1,
h3,
.navbar-brand {
    font-family: 'Aclonica'
}